*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
body{
background-color: #222;
color: #fff;
font-family: system-ui; 

}
.crud{
width: 80%;
margin: auto;


}

.crud .head{
    text-align: center;
    text-transform: uppercase;
}
input{
width: 100%;
height: 30px;
color: #fff;
border: none;
outline: none;
background-color: #111;
margin: 4px 0;
padding: 5px;
border-radius: 5px;

}
input:focus{
background-color: #000;
transform: scale(1.1);

}
.price input{
width: 20%;

}
#total{
   padding: 5px 2px;
   background-color: #a00d02;
    border-radius: 4px;

}
#total::before{
    content: 'Total: ';
}
button{
    width: 100%;
    height: 30px;
    border-radius: 20px;
cursor: pointer;
border: none;
background-color: #390053;
color: white;
transition: 0.5s;
}
button:hover{
    letter-spacing: 1px;
    background-color: #51025f;
}

#deleteAll{
    margin: 20px 0;
}

.btnSearch{
    display: flex;
    justify-content: space-between;

}
.btnSearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
 table th{
text-transform: uppercase;
}
th,td{
    padding: 5px;
}
